<footer class="bg-body-tertiary text-center">
  
  
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="container p-4 pb-0">
   
    <section class="mb-4">
      
      <a
      data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.bing.com/ck/a?!&&p=1ad535fdc6d73af8254bbdd78458cc9d583dee21748fa880393f1a678a380458JmltdHM9MTc2ODAwMzIwMA&ptn=3&ver=2&hsh=4&fclid=3106a5e0-9044-6cf0-2a8c-b4c691e96d87&psq=facebook&u=a1aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tLw"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

    
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="https://www.bing.com/ck/a?!&&p=d4105a56164f05f4612f965de711a2663a0aa62efd580bac236423c9fca791ceJmltdHM9MTc2ODAwMzIwMA&ptn=3&ver=2&hsh=4&fclid=3106a5e0-9044-6cf0-2a8c-b4c691e96d87&psq=twitter&u=a1aHR0cHM6Ly90d2l0dGVyLmNvbS8_bGFuZz1lbi1pbg"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="https://www.bing.com/ck/a?!&&p=541ae2f57c6482510ff0373b568f834ceacce3438e0b6f0a9e419c21a017bb7dJmltdHM9MTc2ODAwMzIwMA&ptn=3&ver=2&hsh=4&fclid=3106a5e0-9044-6cf0-2a8c-b4c691e96d87&psq=google&u=a1aHR0cHM6Ly93d3cuZ29vZ2xlLmNvLmluLw"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

     
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.bing.com/ck/a?!&&p=2f25b70f599f7ad4911e05fdc18bc9b61f5828941649b59c443465a49ee37c63JmltdHM9MTc2ODAwMzIwMA&ptn=3&ver=2&hsh=4&fclid=3106a5e0-9044-6cf0-2a8c-b4c691e96d87&psq=instagram&u=a1aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS8"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.bing.com/ck/a?!&&p=6ac0732a410db9598b2536b78ba6c215694e5cdd70b6d1c2b80957f3e2ae4eebJmltdHM9MTc2ODAwMzIwMA&ptn=3&ver=2&hsh=4&fclid=3106a5e0-9044-6cf0-2a8c-b4c691e96d87&psq=linkedin&u=a1aHR0cHM6Ly9pbi5saW5rZWRpbi5jb20v"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
     
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://www.bing.com/ck/a?!&&p=a63f586c875ca26e7e8eb70dcc2986d597adc96ae21c579ce850e9cb961d1852JmltdHM9MTc2ODAwMzIwMA&ptn=3&ver=2&hsh=4&fclid=3106a5e0-9044-6cf0-2a8c-b4c691e96d87&psq=github&u=a1aHR0cHM6Ly9naXRodWIuY29tLw"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    
  </div>
    © 2026 Copyright<br>
  TuneVerse : Where every beat finds its home ♪𝄞♫ 
    <a class="text-body" href="https://mdbootstrap.com/"></a>
  </div>
 
</footer>
