<div style="
  background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
  url('https://i.pinimg.com/originals/17/1d/c3/171dc334aa70ff283b53d96877677da5.jpg') no-repeat center center;
  background-size: cover;
  min-height: 60vh;
  width: 100%;
">
<br><br>
<h1 style="
    font-size: 3em; 
    font-weight: 900; 
    font-style: italic; 
    text-align: center; 
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #011f2b; "
    >
    TuneVerse  
</h1>

<p style="
    font-size: 1.3em; 
    text-align: center; 
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #011f2b; ">
   <i> Where every beat finds its home</i>
</p>

<p style="
    font-size: 17px; 
    text-align: center; 
    color:  #011f2b; 
    max-width: 700px; 
    margin: 0 auto 15px auto; 
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
">
   <i> Welcome to TuneVerse, your personal universe of music. Every song here is carefully curated to bring joy and rhythm to your day. From chart-topping hits to soulful melodies, TuneVerse is the place to explore and connect with music that moves you.</i>
</p>
<p style="
    font-size: 19px; 
    font-weight: 500; 
    text-align: center; 
    color: #011f2b; 
    max-width: 700px; 
    margin: 0 auto 15px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
">
   <i> Thank you for joining TuneVerse.<br>
    Your musical journey begins here ✨</i>
</p>
</div>

