<br><br><div style="font-size: 17px; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">
    <h3>🎵 Get in Touch with TuneVerse<br></h3>

We’d love to hear from you! Whether you have feedback, song recommendations, partnership ideas, or just want to say hi — our inbox is always open.
</div>

<hr>

<form>
    <div style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <h5>Send Us A Message!</h5><br>
    </div>
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div><br><br>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address<br></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your message here..." rows="3"></textarea>
</div>
<div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  </form>
  <hr>

  